/*  This currently has no affect on the game. */
body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This is the outer most part of the game that contains all elements */
.fullcontainer {
  width: 100%;
  height: 90vh;
  padding-top: 0%;
  background-image: url("../images/background1.jpg");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  background-position: center;
  overflow: hidden;
  position: relative;
  /* border-radius: 5px; */
}

#char-img {
  background-image: url("https://mbwxnezvgzfbldgfkvim.supabase.co/storage/v1/object/sign/images/event3-char%20(1).png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvZXZlbnQzLWNoYXIgKDEpLnBuZyIsImlhdCI6MTcyMzAzOTA0MCwiZXhwIjoxNzU0NTc1MDQwfQ.7Z-f_vPZYU0Ei-aNj_Bq9qOI-oLk1wPzvm28BZnRtOY&t=2024-08-07T13%3A57%3A20.932Z");
  height: 100vh;
  background-position: center top;
  /* background-size: 100% 100%; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* This is purely the text part of the game */

#textbox {
  background-color: rgba(254, 238, 238, 0.7);
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
}

#textbox h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

#textbox p {
  padding: 2% 0%;
  font-weight: 600;
  font-size: 1.2rem;
}

#textbox tr {
  font-weight: 400;
  font-size: 1.1rem;
}

#table th {
  --bs-table-bg: rgba(37, 37, 37, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 2%;
  border-spacing: 0 10px;
}

#table tr {
  border-radius: 5px;
  border-spacing: 0 10px;
}

#table th:hover {
  cursor: pointer;
  background-color: rgba(105, 0, 0, 1);
}

/* This affects the character image */

#gameoverModal .modal-content {
  height: 100%;
  border-radius: 0;
  background-color: black;
}

#gameoverModal .modal-body {
  overflow-y: auto;
  color: red;
}

#winModal .modal-content {
  height: 100%;
  border-radius: 0;
  background-color: white;
}

#winModal .modal-body {
  overflow-y: auto;
  color: red;
}

.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
  border: none;
}
