* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Baskerville", serif;
    /* font-family: "Platypi", serif; */
    /* font-family: "Zen Antique Soft", serif; */
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background: url("../images/homebg.jpg");
    background-color: rgb(0, 0, 0, 1);
  
}

.welcome-container{
    color:aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
   }

p {
    padding: 5% 0%;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}

.instructions {
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    text-shadow: 0px 0px 0px;
    padding: 1%;;
}


#instructionsLabel .modal-content {
 
    height: 100%;
    border-radius: 0;
    background-color: black;
}

#instructionsLabel .modal-body {
    
    overflow-y: auto;
    color: red;
}

.btn {
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;;
    background: rgba(255, 135, 0, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
    border: none;
    margin: 0.2vh;
    font-weight: 600;

}

.btn:hover {
    background: rgb(179, 16, 16);
}